@charset "utf-8";
/* CSS Document */

#logo {
	margin-top: 20px;
	margin-left: 20px;
}

#name {
	font-family: 'Kelly Slab', cursive;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;
	background-repeat: repeat-x;
	color: #363333;
	text-shadow: 4px 4px 0px #eee, 5px 5px 0px #707070;
}

#сlock {
	position: relative;
	height: 300px;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}
#ciferblat {
	position: absolute;
}
#hour {
	position: absolute;
	z-index: 20;
}
#sekond {
	position: absolute;
	z-index: 30;
	
}
#minute {
	position: absolute;
	z-index: 10;
}

body{
	background-image: url(../img/bg_pattern.png);
	}

